/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #cc9ce3;
}

.container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    /*background-color: #007bff;*/
    color: #110f0f;
}

.btn-secondary {
    /*background-color: #6c757d;*/
    color: #110f0f;
}
